<!DOCTYPE html>
<html lang="en">
  <head>
  </head>

    <body>
      <form action="/submit" method="post">
        <br>
        <input type="email" name='email' value="email"><br>
        <input type="password" name='pw' value="password"><br>
        <input type="text" name='name' value="name"><br>
        <input type="submit" value="Submit">
      </form>
      </input>
    </body>

  <footer>

  </footer>

</html>
