<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>

    <body>
        <br>
        <form action="/submit" method="post">
          <br>
          <input type="text" name='todo' value="Type your todo here"><br>
          <input type="submit" value="Submit">
        </form>
      </form>

    </body>

  <footer>

  </footer>

</html>
